@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}

.tile {
    width: 16px;
    height: 16px;
    float: left;
    background-image: url("assets/images/clear.png");
}

.hidden {
    background-image: url("assets/images/hidden.png");
}

.flag {
    background-image: url("assets/images/flag.png");
}

.mine {
    background-image: url("assets/images/mine.png");
}

.mine_hit {
    background-image: url("assets/images/mine_hit.png");
}

.mine_marked {
    background-image: url("assets/images/mine_marked.png");
}

.tile_1 {
    background-image: url("assets/images/tile_1.png");
}

.tile_2 {
    background-image: url("assets/images/tile_2.png");
}

.tile_3 {
    background-image: url("assets/images/tile_3.png");
}

.tile_4 {
    background-image: url("assets/images/tile_4.png");
}

.tile_5 {
    background-image: url("assets/images/tile_5.png");
}

.tile_6 {
    background-image: url("assets/images/tile_6.png");
}

.tile_7 {
    background-image: url("assets/images/tile_7.png");
}

.tile_8 {
    background-image: url("assets/images/tile_8.png");
}

.smiley {
    margin: auto;
    width: 26px;
    height: 26px;
    background-image: url("assets/images/face_up.png");
}

.face_down {
    background-image: url("assets/images/face_down.png");
}

.face_limbo {
    background-image: url("assets/images/face_limbo.png");
}

.face_lose {
    background-image: url("assets/images/face_lose.png");
}

.face_win {
    background-image: url("assets/images/face_win.png");
}

h1 {
    text-align: center;
}

div {
    margin: auto;
    text-align: center;
}
